body {
    background: #fffcfc;
    margin: 0;
    cursor: pointer;
}

/******************MENU*************************/

.menu {
    position: fixed;
    background: #fffbfb;
    width: 100%;
    z-index: 100;
    top: 0;
    font-family: Homenaje;
}

.menu-logo {
    display: none;
}

.menu-category {
    width: 100%;
    text-align: center;
}

.menu-category > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-category ul > li {
    display: inline-block;
    margin: 0;
}

.menu-category .menu-item {
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 30px;
    color: #0e0d0d;
    font-size: 1em;
}
.menu ul li:first-of-type{
    display: block;
}
.menu-category ul > li:hover {
    background: #ebebeb;
    transition: background 0.3s ease;
}
.color-change{
    background: #b1adbb;
    opacity: 0.5;
}

@media (max-width: 1000px) {
    .menu-category > li {
        padding: 15px 25px;
    }

    .menu-category .menu-item {
        font-size: 1em;
    }
}

@media (max-width: 814px) {
    .menu-logo {
        height: 50px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-category {
        text-align: center;
        display: none;
        background: #f9f9f9c9;
        border-top: 1px solid #cec4c473;
    }

    .menu-category > ul{
        flex-direction: column;
    }

    .menu-category > li {
        padding: 10px 15px;
        display: block;
        z-index: 9999;
    }
    .menu ul li:first-of-type{
        display: none;
    }
    .open {
        display: block;
    }

    .choose {
        display: none;
    }
}

/******************main*******************/


#background-photo {
    margin-top: 70px;
    height: 700px;
    background: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    line-height: 0.9;
    overflow: hidden;
    width: 100%;
    font-family: Homenaje;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.invitation-box {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.shadow {
    text-shadow: 3px 2px 1px #fdfdfd1f;
}

.names {
    padding-top: 70px;
    font-family: "Francois One";
    letter-spacing: -1px;
    font-size: 2.5em;
    color: #0e0d0d;
}

.line-heart {
    width: 30%;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    text-align: center;
}

.line-heart hr {
    height: 1px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-left: none;
    border-right: none;
}

.line-heart img {
    background: #e8e8e8;
    padding: 0 10px;
    position: absolute;
    left: 50%;
    margin-left: -23.5px;
    top: -6px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invitation {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 8em;
}

.wedding {
    letter-spacing: 9.5px;
    font-size: 3.3em;
}

.celebration {
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 7em;
}

.date {
    letter-spacing: 10px;
    font-size: 7em;
}
.selible-first{
    position: ablsolute;
    margin-top: -8%;
    margin-left: 20%;
}
.selible-second{
    position: relative;
    margin-top: 2%;
    margin-left: 75%;
}
.circle {
    position: absolute;
    width: 31px;
    height: 31px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 3rem;
}
.circle-first{
    background: #f73e38;
}
.circle-second{
    background: #2ab79e;
}

.triangle{
    position: absolute;
    border-style: solid;
}
.triangle-first{
    transform: rotate(110deg);
    margin-left: -8px;
    margin-top: -7px;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #f73e38;
}
.triangle-second{
    transform: rotate(50deg);
    margin-left: 14px;
    margin-top: 14px;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #2ab79e; 
}

.button-box button{
    height: 80px;
    width: 80px;
    margin: 30px 0;
    border-radius: 3rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    background: black;
    color: white;
    border-left:  5px solid #f73e38;
    border-right: 5px solid #2ab79e;
    transform: scaleX(1.1);
}
.button-box a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.05rem;
}

/********************Our story*************************/
#main{
    padding: 0 50px;
}
#our-story {
    padding-top: 100px;
    text-align: center;
}

.blocks {
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
    width: calc(38% - 40px);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.about-us {
    font-family: "PT Sans Narrow";
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2em;
    color: #806464b5;
}

.groome-bride {
    display: inline-block;
    text-transform: uppercase;
    color: #8064644d;
    text-align: left;
    font-family: Timmana;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 0.9;
}

.one-line {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    text-align: center;
}

.line-margin{
    margin: 15px auto;
}

.one-line hr {
    height: 1px;
    border-top: 1px solid #b4c2c0;
    border-bottom: none;
    border-left: none;
    border-right: none; 
    width: 75%;
}

.one-line img {
    background: #fffcfc;
    padding: 0 5px;
    position: absolute;
    left: 50%;
    top: -4px;
    margin-left: -13px;
}

.name {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2.3em;
    color: #0e0d0d;
    font-family: "Francois One";
}

/* **************** Responsive main and Our story*********************/

@media (max-width: 1214px) {
    .blocks {
        padding: 15px;
        margin-top: 40px;
        width: calc(40% - 30px);
    }
}

@media (max-width: 1000px) {
    #background-photo {
        height: 500px;
        line-height: 1;
    }

    .names {
        padding-top: 30px;
        font-size: 2em;
    }

    .line-heart {
        margin: 10px auto;
    }

    .invitation {
        font-size: 6em;
    }

    .wedding {
        font-size: 2.1em;
    }

    .celebration {
        font-size: 4.5em;
        letter-spacing: 0.07em;
    }

    .date {
        font-size: 4.5em;
        letter-spacing: 0.2em;
    }

    .blocks {
        padding: 15px;
        margin-top: 40px;
        width: calc(40% - 30px);
    }

    .about-us {
        font-size: 1em;
    }

    .groome-bride {
        font-size: 1em;
    }

    .name {
        font-size: 2.5em;
    }
    .selible-first, .selible-second{
        display: none;
    }
}

@media (max-width: 814px) {
    #background-photo {
        margin-top: 55px;
        height: 300px;
        line-height: 1;
    }

    .names {
        padding-top: 15px;
        font-size: 1.9rem;
    }

    .line-heart hr {
        height: 1px;
        border-top: 0.7px solid #67626230;
        border-bottom: 0.7px solid #67626230;
    }

    .line-heart {
        margin: 5px auto;
    }

    .invitation {
        font-size: 3rem;
    }

    .wedding {
        font-size: 1.3em;
        letter-spacing: 0.2em;
    }

    .celebration {
        font-size: 2.5em;
        letter-spacing: 0.03em;
    }

    .date {
        font-size: 2.5em;
        letter-spacing: 0.16em;
    }

    .button-box button{
        height: 50px;
        width: 50px;
        margin: 20px 0;
    }
    .button-box a{
        font-size: 0.4rem;
    }
    #our-story {
        padding-top: 70px;
    }

    .blocks {
        width: calc(100% - 30px);
        padding: 10px;
        margin-top: 15px;
    }

    .about-us {
        font-size: 1em;
    }

    .groome-bride {
        font-size: 0.8em;
    }

    .name {
        font-size: 2.5em;
    }
}

/**************************photos***********************/

.align-bloks {
    padding-top: 150px;
    text-align: center;
    width: 100%;
}

.main-words {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 3.3em;
    color: #000000;
    font-family: "Francois One";
    line-height: 0.5;
}

.smaller-line hr {
    width: 30%;
}

.smaller-line img {
    margin-left: -17.5px;
    top: -4px;
}

.gallery {
    margin: 30px 170px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 12px solid #ffffff;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
}

.gallery a {
    display: inline-block;
    box-sizing: border-box;
    padding: 3px;
}

.three-image {
    width: 33.33333%;
}

.four-image {
    width: 25%;
}

.gallery a img {
    width: 100%;
}

@media (max-width: 814px) {
    .align-bloks {
        padding-top: 80px;
    }

    .gallery {
        width: calc(100% - 10px);
        ;
        margin: 20px 5px;
        margin-bottom: 0px;
        border: 5px solid #ffffff;
        box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
    }

    .main-words {
        font-size: 2em;
    }

    .line-smaller hr {
        width: 25%;
    }

    .three-image {
        width: 100%;
    }

    .four-image {
        width: 100%;
    }

    .gallery a {
        padding: 1px;
    }
}

/**************************groomsmen/bridsmaids*******************/

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.friends-image {
    margin: 0 40px;
}
.details-about{
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
}
.box-about-person { 
    display: block;
    text-align: left;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
}

.box-friends {
    padding: 20px;
}

.friends-name {
    color: #2ab79e;
    font-size: 2.1em;
    font-family: "PT Sans Narrow";
    font-weight: bold;
    line-height: 0.5;
    letter-spacing: -1px;
}

.position-friend {
    font-size: 1.3em;
    color: #999999;
    font-family: "PT Sans Narrow";
}

.back-info {
    text-align: justify;
    padding: 20px;
    font-size: 1.1em;
    color: #999999;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
    font-family: "PT Sans Narrow";
}

@media (max-width: 814px) {
    .person {
        display: flex;
    }

    .person-flex-direction {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .image-friend {
        margin: 0px 5px;
    }

    .image-friend .about {
        width: 75%;
    }

    .image-friend img {
        width: 85;
        margin: 20px 5px;
    }

    .details-about {
        display: block;
        text-align: left;
        box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
        width: 100%;
        margin-top: 10px;
    }

    .box-friends {
        padding: 10px;
    }

    .friends-name {
        color: #555555;
        font-size: 1.8em;
        font-family: Timmana;
        text-transform: uppercase;
        line-height: 0.5;
        letter-spacing: -1px;
    }

    .position-friend {
        font-size: 1em;
        color: #999999;
    }

    .back-info {
        text-align: justify;
        padding: 10px;
        font-size: 0.9em;
        color: #999999;
        box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
    }
}

/**************************location********************/

.location {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.location-block {
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 3.3em;
    color: #000000;
    font-family: "Francois One";
    line-height: 0.7;
}

.slash {
    color: #d9e0df;
    padding: 0 10px;
    font-family: Georgia;
}

.details {
    display: block;
    margin: 40px auto;
    padding: 20px 0;
    width: 100%;
    max-width: 550px;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
}

.details-block {
    background: #ec4343;
    border-top: 7px solid #eeeeee;
    border-bottom: 7px solid #eeeeee;
    text-transform: uppercase;
    color: #8a0000;
    font-family: "Fjalla One";
    line-height: 1.5em;
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: bold;
    position: relative;
}

.border {
    position: absolute;
    width: 48px;
}
.left {
    left: -48px;
    display: flex;
    flex-direction: column;
}

.color-left-up{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 48px 48px;
    border-color: transparent transparent #ec4343 transparent;
    display: flex;
    flex-direction: column;
}

.color-left-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 48px 48px 0;
    border-color: transparent #c72e2e transparent transparent;
    display: flex;
    flex-direction: column;
}

.right {
    right: -48px;
    display: flex;
    flex-direction: column;
}
.color-right-up{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 0  48px;
    border-color: transparent transparent transparent #ec4343;
}
.color-right-down{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 48px 0 0;
    border-color: #c72e2e transparent transparent transparent;

}
.info-block {
    padding: 30px;
    color: #8F8F8F;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: "PT Sans Narrow";
}

.title {
    text-transform: uppercase;
    font-size: 1.3em;
}

.line hr {
    width: 25%;
    margin: 0 auto;
}

.line img {
    margin-left: -17.5px;
    top: -4px;
}
.google-maps{
    margin: 0;
}
.google-maps iframe{
    width: 400px;
    max-width: 100%;
    height: 300px;
}


@media (max-width: 814px) {
    #location {
        padding-top: 80px;
    }

    .location-block {
        line-height: 1.3em;
        font-size: 2rem;
        margin: 0 2px;
    }

    .line-img {
        padding: 0 4px;
        margin-left: -11.5px;
        top: -3px;
    }

    .details {
        box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.34);
    }

    .info-block {
        padding: 20px;
        font-size: 0.8em;
    }
}
  
/****************************end********************/

.photo-end {
    position: relative;
}

.photo-end:after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, white 30%, rgba(255, 255, 255, 0) 50%);
}