body {
    background: #fffcfc;
    margin: 0;
}

/******************MENU*************************/

.menu {
    position: fixed;
    background: #fffbfb;
    border-bottom: 1px solid #ece4e447;
    width: 100%;
    z-index: 100;
    top: 0;
}

.menu__logo {
    display: none;
}

.menu__category {
    width: 100%;
    text-align: center;
}

.menu__category ul {
    padding: 0;
    margin: 0;
}

.menu__category li {
    display: inline-block;
    margin: 25px 30px;
}

.menu__category a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0e0d0d;
    font-family: Homenaje;
    font-size: 1em;
}

.menu__category a:hover {
    color: #8064644d;
    transition: color 0.3s ease;
}

@media (max-width: 1000px) {
    .menu__category li {
        margin: 15px 25px;
    }
    .menu__category a {
        font-size: 1em;
    }
}

@media (max-width: 814px) {
    .menu__logo {
        height: 50px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu__category {
        text-align: center;
        display: none;
        background: #f9f9f9c9;
        border-top: 1px solid #cec4c473;
    }
    .menu__category li {
        margin: 20px 30px;
        display: block;
        z-index: 9999;
    }
    .noneImg {
        display: none;
    }
    .open {
        display: block;
    }
}

/******************main*******************/

#photo {
    margin-top: 70px;
    height: 700px;
    background: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    line-height: 0.9;
    overflow: hidden; 
    display: inline-block;
    width: 100%;
}
.boxforInvitation{
   
    width: 80%;
    margin: 0 auto;
}
.shadow {
    text-shadow: 3px 2px 1px #fdfdfd1f;
}

.we {
    padding-top: 70px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Oswald";
    letter-spacing: -1px;
    font-size: 2.3em;
    color: #0e0d0d;
}

.hrimg hr {
    width: 30%;
    height: 1px;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    border-left: none;
    border-right:none;
}
.hrimg {
    position: relative;
    z-index: 0;
    margin: 15px auto;
    text-align: center;
}

.hrimg img {
    background: #e8e8e8;
    padding: 0 10px;
    position: absolute;
    left: 50%; 
    margin-left:-23.5px;
    top: -6px;
}

.invitation {
    text-transform: uppercase;
    text-align: center;
    font-family: Homenaje;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 8em;
    color: #ffffff;
}

.wedding {
    text-transform: uppercase;
    text-align: center;
    font-family: Homenaje;
    letter-spacing: 9.5px;
    font-size: 3.3em;
    color: #ffffff;
}

.celebration {
    text-transform: uppercase;
    text-align: center;
    font-family: Homenaje;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 7em;
    color: #ffffff;
}

.date {
    text-transform: uppercase;
    text-align: center;
    font-family: Homenaje;
    letter-spacing: 10px;
    font-size: 7em;
    color: #ffffff;
    padding-bottom: 20px;
}
.date hr {
    margin: 20px auto;
    width: 30%;
    height: 1px;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    border-left: none;
    border-right:none;
}


/********************Our story*************************/

.textcenter {
    text-align: center;
}

.blocks {
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
    width: calc(38% - 40px);
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.aboutus {
    font-family: 'Homenaje';
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2em;
    color: #806464b5;
}

.groomeAndBride {
    display: inline-block;
    text-transform: uppercase;
    color: #8064644d;
    text-align: left;
    font-family: Timmana;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 0.9;
}
.oneline{
    position: relative;
    z-index: 0;
    margin: 15px auto;
    text-align: center;
}
.oneline hr {
    width: 75%;
    height: 1px;
    border-top:1px solid #b4c2c0;
    border-bottom:none;
    border-left: none;
    border-right:none;
}
.oneline img {
    background: #fffcfc;
    padding: 0 10px;
    position: absolute;
    left: 50%;
    top: -6px;
    margin-left: -23.5px;
}
.name {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2.3em;
    color: #0e0d0d;
    font-family: Oswald;
}



/* **************** Responsive main and Our story*********************/

@media (max-width: 1214px) {
    .blocks {
        padding: 15px;
        margin-top: 40px;
        width: calc(40% - 30px);
    }
}

@media (max-width: 1000px) {
    #photo {
        margin-top: 48px;
        height: 500px;
        line-height: 1;
    }
    .we {
        padding-top: 30px;
        font-size: 2em;
    }
    .hrimg {
        margin: 10px auto;
    }
    .invitation {
        font-size: 6em;
    }
    .wedding {
        font-size: 2.1em;
    }
    .celebration {
        font-size: 4.5em;
        letter-spacing: 0.07em;
    }
    .date {
        font-size: 4.5em;
        letter-spacing: 0.2em;
    }
    .blocks {
        padding: 15px;
        margin-top: 40px;
        width: calc(40% - 30px);
    }
    .aboutus {
        font-size: 1em;
    }
    .groomeAndBride {
        font-size: 1em;
    }
    .name {
        font-size: 2.5em;
    }
}
@media (max-width: 814px) {
    #photo {
        margin-top: 35px;
        height: 300px;
        line-height: 1;
    }
    .we {
        padding-top: 40px;
        font-size: 2em;
    }
    .hrimg hr {
        width: 50%;
        height: 1px;
        border-top:0.7px solid #67626230;
        border-bottom:0.7px solid #67626230;
    }
    .hrimg {
        margin: 5px auto;
    }
   
    .invitation {
        font-size: 3.1em;
    }
    .wedding {
        font-size: 1.3em;
        letter-spacing: 0.2em;
    }
    .celebration {
        font-size: 2.6em;
        letter-spacing: 0.03em;
    }
    .date {
        font-size: 2.6em;
        letter-spacing: 0.16em;
    }
    .date hr {
        margin: 5px auto;
        width: 50%;
        height: 1px;
        border-top:0.7px solid #67626230;
        border-bottom:0.7px solid #67626230;
    }
    .blocks {
        width: calc(100% - 30px);
        padding: 10px;
        margin-top: 15px;
    }
    .aboutus {
        font-size: 1em;
    }
    .groomeAndBride {
        font-size: 0.8em;
    }
    .name {
        font-size: 2.5em;
    }
}



/**************************photos***********************/
.photos{
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.wordPhotos{
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 3.3em;
    color:#000000;
    font-family: Oswald;
    line-height: 0.5;
    margin: 0 10px;
}
.lineSmall hr{
    width:10%;
}
.lineSmall img{
    margin-left: -17.5px;
    top: -4px;
}
.gallery{
    margin: 20px 170px;
    margin-bottom:0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border:12px solid #ffffff;
    box-shadow: 3px 2px 20px rgba(0,0,0,0.34);
}
.gallery a{
    display:inline-block; 
    box-sizing: border-box;
    padding: 3px;
}
 .first{
    width: 33.33333%;
}
.second{
    width: 25%;
}
.gallery a img {
    width: 100%;
}

@media (max-width: 814px) {
    .photos{
        margin-top: 80px;
    }
    .gallery{
    margin: 20px 5px;
    margin-bottom:0px;
    border:5px solid #ffffff;
    box-shadow: 3px 2px 20px rgba(0,0,0,0.34);
    }
   
    .wordPhotos{
        font-size: 2em;
        margin: 0 10px;
    }
    .lineSmall hr{
        width:25%;
    }
    .lineSmall img{
        margin-left: -17.5px;
        top: -4px;
    }
    .gallery a{
        padding: 1px;
    }
}

/**************************location********************/
.location{
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.locationDiv{
    display: flex;
    justify-content: center;
}
.locationblocks{
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 3em;
    color:#000000;
    font-family: Oswald;
    line-height: 0.5;
    margin: 0 10px;
}
.slash{
    color: #d9e0df;
}
.positionImg img {
    padding: 0 4px;
    margin-left: -13px;
    top: -4px;
}
.details{
    display: block;
    margin: 40px auto;
    width: 45%;
    padding: 20px 0;
    box-shadow: 3px 2px 20px rgba(0,0,0,0.34);

}
.styleBackground{
    background:#ec4343;
    border-top: 7px solid #eeeeee;
    border-bottom: 7px solid #eeeeee;
    text-transform:uppercase;
    color: #8a0000;
    font-family: Oswald;
    line-height: 1.3em;
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: bold;
}
.styletext{
    padding:40px;
    color:#8F8F8F;
    line-height: 1.5em;
    font-family: Georgia;
}
.line hr{
    width: 25%;
}
.line img{
    margin-left: -17.5px;
    top: -4px;
}


@media (max-width: 814px) {
    .location{
        margin-top: 80px;
    }
    .styleBackground{
        line-height: 1.3em;
        font-size: 1.5em;
    }
    .locationblocks{
        font-size: 2em;
        margin: 0 2px;
    }
    .positionImg img {
        width: 15px;
        padding: 0 4px;
        margin-left: -11.5px;
        top: -4px;
}
    .details{
        width: 90%;
        padding: 10px 0;
        box-shadow: 3px 2px 20px rgba(0,0,0,0.34);
    
    }
    .styletext{
        padding: 20px;
        font-size: 0.8em;
    }
    .line hr{
        width: 25%;
    }
    .line img{
        width: 12px;
        padding: 0 4px;
        margin-left: -10px;
    }
}

/****************************end********************/