
body{
    background:#fffcfc;
    margin: 0;
}

.gallery{
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.gallery a{
    display:inline-block; 
    box-sizing: border-box;
    padding: 3px;
}
 .first{
    width: 50%;
}
.second{
    width: 33.33333%;
}
.third{
    width: 100%;
}

.gallery a img {
    width: 100%;
}




/******************MENU*************************/
.menu{
    position: fixed;
    background: #f9f9f9c9;
    border-bottom: 1px solid #ece4e447;
    width: 100%;
    z-index: 100;
    top:0;
}
.menu__logo{
    display:none;
}
.menu__category{
    width:100%;
    text-align: center;
}
.menu__category ul{
    padding: 0;
    margin:0;
}
.menu__category li {
    display: inline-block;
    margin: 20px 30px;
}
.menu__category a {
    text-decoration: none;
    text-transform: uppercase;
    color:#460c0c;
    font-family: Homenaje;
    font-size:1em;
}
.menu__category a:hover {
    color: #8064644d;
    transition: color 0.3s ease;
}



@media (max-width: 1000px) {
    .menu__category li {
        margin: 15px 25px;
    }
    .menu__category a {
        font-size:1em;
    }
}

@media (max-width: 814px) {
     .menu__logo{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu__category{
        text-align:center;
        display: none;
        background: #f9f9f9c9;
        border-top: 1px solid #cec4c473;
    }
    .menu__category li {
        margin: 20px 30px;
        display: block;
        z-index: 9999; 
   } 
   .noneImg{
       display: none;
    }
    .open {
        display: block;
    }
}


/* **************** Responsive *********************/
@media (max-width: 1000px) {
    .gallery{ 
        padding-top: 65px;
   }
 .gallery a{
    padding: 2px; 
}
}

@media (max-width: 814px) {
   .gallery{ 
        padding-top: 35px;
   }
    .gallery a{
    padding: 0.5px; 
    }
}